# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1fde648f516b0d8c798fd2a256312b88d9382552c2d98507fc9e786216aa18888444b0a7a54405ca4b4e769e242aa473c609307589b90c07f56527a4256fea34

test:
  secret_key_base: 035c42696e98665e03f65648ee1dea06a80bbb0da875de9033a279b51cbf7dac55723c429bdfa1d9b8ed499383d0ebb4f034f93300bc04bb02a29fe92f52dd3f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
